localhost, 127.0.0.1 {
    log {
        output stdout
    }

    # Serve static frontend files
    root * /srv

    route {
        reverse_proxy /api/* http://api:8000
        reverse_proxy /admin/* http://api:8000
        reverse_proxy /auth/* http://api:8000
        reverse_proxy /v1/* http://api:8000
        reverse_proxy /health/* http://api:8000

        try_files {path} /index.html
        file_server
    }
}
